
header{
    text-align: center;
    background-color: #e4572e;
    color:white;
}

body{
    background-color: rgb(235, 231, 195);
}

header h1{
    font-family: 'Chelsea Market', cursive; 
    margin-bottom: 0.5px;
}
header h2{
    font-family: 'Gamja Flower', cursive;
}

.upper{
    border: 4px solid #050401;
    margin-left: 20%;
    margin-right: 20%;
    font-family:cursive ;
    box-shadow: 3px 3px 0 0 hsl(14, 77%, 54%); /* for the shadows */
    margin-bottom: 12px;
    font-family: 'Gamja Flower', cursive;
    padding: 5px;
}
.lower{
    border: 4px solid #050401;
    margin-left: 20%;
    margin-right: 20%;
    font-family:cursive ;
    box-shadow: 3px 3px 0 0 #e4572e; /* for the shadows */
    font-family: 'Gamja Flower', cursive;
    padding: 5px;
}

.foot{
    text-align: center;
    font-family: 'Gamja Flower', cursive;
}

form p{
    display: inline-block;
    box-shadow: 3px 3px 0 0 #e4572e; 
    font-family:  'Gamja Flower', cursive;
}
    
.cookies img{
    float: right;
    
}

.spatula img{
    left: 970px; 
    top: 150px;
    position: absolute;
}
    
